﻿@inject SignInManager<ApplicationUser> SignInManager
@{
    bool hasExternalLogins = (await
        SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" 
           id="profile" asp-page="./Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" 
           id="change-password" asp-page="./ChangePassword">Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" 
           id="personal-data" asp-page="./PersonalData">Personal data</a>
    </li>
</ul>
