﻿@model IEnumerable<WebApp.Models.ApplicationUser>
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Users</h1>

@* Only admins can create new users. *@
@if (User.HasClaim("Member", "True"))
{
    <div class="container-fluid mb-2">
        <div class="row-fluid">
            @* Add a new user *@
            <a asp-action="Create">
                <button type="button"
                        class="btn btn-primary text-light">
                    New User
                </button>
            </a>
            @* Go to Application Roles area *@
            @if ((await AuthorizationService.AuthorizeAsync(
                User, "ManageRoles")).Succeeded)
            {
                <a asp-controller="ApplicationRoles" asp-action="Index">
                    <button type="button"
                            class="btn btn-primary text-light">
                        Manage Roles
                    </button>
                </a>
            }
        </div>
    </div>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ApplicationUser item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">View & Manage</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
