﻿@model WebApp.Models.ApplicationRoleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@* Summarise Role *@
<div>
    <h4>Application Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationRole.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationRole.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationRole.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationRole.Description)
        </dd>
    </dl>
</div>

@* Display all Users in the Role *@
<table class="table">
    <thead>
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ApplicationUser user in Model.ApplicationUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
        </tr>
    }
    </tbody>
</table>

@* Add a User to the Role*@
<h4>Add User</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*Hidden RoleName*@
            <input type="hidden" asp-for="Role" value="@Model.ApplicationRole.Name"/>
            @* User Name*@
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            @* Create *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@* Edit and go back*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationRole.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
