﻿@model IEnumerable<WebApp.Models.ApplicationRole>
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Roles</h1>

@* Only admins can create new roles. *@
@if (User.HasClaim("Member", "True"))
{
    <div class="container-fluid mb-2">
        <div class="row-fluid">
            @* Add a new user *@
            <a asp-action="Create">
                <button type="button"
                        class="btn btn-primary text-light">
                    New Role
                </button>
            </a>
            @* Go to Application Users area *@
            @if ((await AuthorizationService.AuthorizeAsync(
                User, "ManageUsers")).Succeeded)
            {
                <a asp-controller="ApplicationUsers" asp-action="Index">
                    <button type="button"
                            class="btn btn-primary text-light">
                        Manage Users
                    </button>
                </a>
            }
        </div>
    </div>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalizedName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ApplicationRole item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">View & Manage</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
