﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                @* Link to register *@
                <h4>
                    Or
                    <a asp-page="./Register"
                       asp-route-returnUrl="@Model.ReturnUrl">
                        click here
                    </a>
                    to register.
                </h4>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                @* Username *@
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control"/>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                @* Password *@
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @* Remember me *@
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                @* Login *@
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                @* Forgot password link *@
                <div class="form-group">
                    <p>
                        <a id="forgot-password"
                           asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
