@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
                Account
                @* Show role as a badge *@
                @if ((await AuthorizationService.AuthorizeAsync(
                    User, "MemberOnly")).Succeeded)
                {
                    <span class="badge badge-pill badge-info">Member</span>
                }
                else if ((await AuthorizationService.AuthorizeAsync(
                    User, "CustomerOnly")).Succeeded)
                {
                    <span class="badge badge-pill badge-info">Customer</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home",
                                           new {area = ""})">
                <button type="submit" class="nav-link btn btn-link text-light">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>