@page "{id}/{slug}"
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model WebApp.Pages.ArticleModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = Model.Article.Title;
}

<article>
<div class="col-md-12">
    <h1>@Model.Article.Title</h1>
    @if (!string.IsNullOrEmpty(Model.Article.Author))
    {
        <h4 name="author" class="text-muted">By @Model.Article.Author </h4>
    }
    <h5 name="date" class="date text-muted">
        @Model.Article.PubDate.ToString(
            "MMM dd, yyyy")</h5>
    <p>@Model.HtmlBody()</p>
</div>

@if ((await AuthorizationService.AuthorizeAsync(User, "MemberOnly")).Succeeded)
{
    if ((await AuthorizationService.AuthorizeAsync(User, "EditArticle")).Succeeded)
    {
        /* Edit */
        <div class="col-md-12">
            <h4 class="text-primary">
                <a asp-page="/edit"
                   asp-route-id="@Model.Article.Id.ToString("N")"
                   asp-route-slug="@Model.Article.Slug">
                    Edit Article
                </a>
            </h4>
        </div>
    }
    if ((await AuthorizationService.AuthorizeAsync(
        User, "DeleteArticle")).Succeeded)
    {
        /* Delete */
        <form class="col-md-12" id="deletearticle" method="post">
            @if (Model.Article.IsDeleted)
            {
                <div>
                    <input type="submit" name="undelete"
                           class="btn btn-primary btn-sm" value="Undelete"
                           asp-page-handler="UnDeleteArticle"/>
                </div>
            }
            else
            {
                <div>
                    <input type="submit" name="delete" class="btn btn-primary btn-sm"
                           value="Delete" asp-page-handler="DeleteArticle"/>
                </div>
            }
        </form>
    }
    <div class="col-md-6">
        <h2>Comments</h2>
        @if (Model.Article.Comments.Count == 0)
        {
            <p class="text-muted">No comments yet. Be the first to comment!</p>
        }
        @foreach (Comment comment in Model.Article.Comments)
        {
            string cssClass = comment.IsPublic ? "" : "deletedContent";
            <form id="form1" method="post">
                <div class="@cssClass">
                    @if (comment.IsPublic)
                    {
                        <div class="well well-sm">
                            @* Author *@
                            <h4 name="Comment-Title" class="commentTitle">
                                @comment.Author
                            </h4>
                            @* Date *@
                            <h6 name="Comment-Date" class="commentDate">
                                @comment.Created.ToString("dd MMM, yyyy")
                            </h6>
                            @* Body *@
                            <p name="Comment-Body" class="commentBody">
                                @comment.Body
                            </p>
                            @* Id *@
                            <input type="hidden" name="commentId" id="commentId"
                                   value="@comment.UniqueId"/>
                            @* Slug *@
                            <input type="hidden" name="slug"
                                   value="@Model.Article.Slug"/>
                            @if ((await AuthorizationService.AuthorizeAsync(
                                User, "DeleteAnyComment")).Succeeded)
                            {
                                    @* Delete comment *@
                                <input type="submit" name="delete"
                                       class="btn btn-primary btn-sm"
                                       value="Delete Comment"
                                       asp-page="Article"
                                       asp-page-handler="DeleteComment"/>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="well well-sm">
                            <del class="h4">
                                @* Author *@
                                <h4 name="Comment-Title" class="commentTitle">
                                    @comment.Author
                                </h4>
                                @* Date *@
                                <h6 name="Comment-Date" class="commentDate">
                                    @comment.Created.ToString("dd MMM, yyyy")
                                </h6>
                            </del>
                            @* Deleted body *@
                            <del>
                                <p name="Comment-Body" class="commentBody">
                                    @comment.Body
                                </p>
                            </del>
                            @* Id *@
                            <input type="hidden" name="commentId" id="commentId"
                                   value="@comment.UniqueId"/>
                            @* Slug *@
                            <input type="hidden" name="slug" v
                                   alue="@Model.Article.Slug"/>
                            @if ((await AuthorizationService.AuthorizeAsync(
                                User, "DeleteAnyComment")).Succeeded)
                            {
                                @* Undelete *@
                                <input type="submit" name="unDelete"
                                       class="btn btn-primary btn-sm"
                                       value="Republish Comment"
                                       asp-page="Article"
                                       asp-page-handler="UndeleteComment"/>
                            }
                        </div>
                    }
                </div>
            </form>
        }
    </div>
}
else
{
    <div class="col-md-6">
        <h2>Comments</h2>
        @if (Model.Article.Comments.Count == 0 &&
             (await AuthorizationService.AuthorizeAsync(
                 User, "CustomerOnly")).Succeeded)
        {
            <p class="text-muted">No comments <i>yet</i>.</p>
        }
        @foreach (Comment comment in Model.Article.Comments)
        {
            if (comment.IsPublic)
            {
                <form id="form1" method="post">
                    <div class="well well-sm">
                        <h4 name="Comment-Title" class="commentTitle">
                            @comment.Author
                        </h4>
                        <h6 name="Comment-Date" class="commentDate">
                            @comment.Created.ToString("MMM dd, yyyy")
                        </h6>
                        <p name="Comment-Body" class="commentBody">
                            @comment.Body
                        </p>
                        <input type="hidden" name="commentId" id="commentId"
                               value="@comment.UniqueId"/>
                        <input type="hidden" name="slug"
                               value="@Model.Article.Slug"/>
                        @* If user owns the comment and has deleteOwn claim,
                             OR has the deleteAny claim.*@
                        @if (User.Identity.Name == comment.Author &&
                             (await AuthorizationService.AuthorizeAsync(
                                 User, "DeleteOwnComment")).Succeeded
                             || (await AuthorizationService.AuthorizeAsync(
                                 User, "DeleteAnyComment")).Succeeded)
                        {
                            <input type="submit" name="delete"
                                   class="btn btn-primary btn-sm"
                                   value="Delete Comment"
                                   asp-page="Article"
                                   asp-page-handler="DeleteComment"/>
                        }
                    </div>
                </form>
            }
        }
    </div>
}

<hr/>

@if (Model.Article.IsPublic && !Model.IsCommentsFull
     && (await AuthorizationService.AuthorizeAsync(
         User, "CreateComment")).Succeeded)
{
    <div class="col-sm-6" style="height: 6px;"></div>
    <div class="add-comment-form">
        <div class="col-md-6">
            <h3>Add Comment</h3>

            <div class="well">
                <form id="comment-form" method="post">
                    @* User Name *@
                    <input type="hidden" class="form-control" placeholder="Anonymous"
                           name="NewComment.Author" value="@User.Identity.Name"/>
                    @* Body *@
                    <div class="form-group">
                        <label for="Body">Comment</label>
                        <textarea placeholder="Your comment here..." 
                                        class="form-control" 
                                            name="NewComment.Body"></textarea>
                    </div>
                    @* Publish *@
                    <input type="submit" name="publish"
                           class="btn btn-primary btn-sm" value="Publish"
                           asp-page-handler="PublishComment"/>
                </form>
            </div>
        </div>
    </div>
}
</article>
