@page
@using WebApp.Pages
@model WebApp.Pages.DraftsModel
@{
    ViewData["Title"] = "Drafts";

    <h2>@ViewData["Title"]</h2>

    if (!Model.DraftSummaries.Any())
    {
        <p>View and edit draft.</p>
    }
    else
    {
        foreach (DraftSummaryModel article in Model.DraftSummaries)
        {
            <article>
                <div class="col-md-12">
                    <h2>
                        <a asp-page="/edit"
                           asp-route-id="@article.Id.ToString("N")"
                           asp-route-slug="@article.Slug">
                            @article.Title</a>
                    </h2>
                    @if (article.PublishTime != default(DateTimeOffset))
                    {
                        <div class="h5 text-muted">
                            Last Published
                            @article.PublishTime.ToString("MMM dd, yyyy")
                        </div>
                    }
                    <p class="lead">@article.Excerpt</p>
                    <h4>
                        <a href="/article/@article.Id.ToString("N")/@article.Slug">
                            <span class="glyphicon glyphicon-comment"></span>
                            @article.CommentCount
                        </a>
                    </h4>
                </div>
            </article>
        }
    }
}
