@page "{id}"
@model WebApp.Pages.EditModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Edit Article";
}

<article>
    <h2>Edit Article</h2>
    <div class="col-md-12 well">
        <form method="post" id="editarticle" enctype="multipart/form-data"
              data-has-slug="@Model.HasSlug">
            @if (TempData["notice"] != null)
            {
                <h3>@TempData["notice"]</h3>
            }
            @* Title *@
            <div class="form-group col-md-6">
                <label for="Title">Title</></label>
                <input type="text" class="form-control" placeholder=""
                       asp-for="EditedArticle.Title"
                       data-oldtitle="@Model.EditedArticle.Title"/>
                <span asp-validation-for="EditedArticle.Title" class="text-warning"></span>
            </div>
            @* Slug *@
            <input type="hidden" name="updateSlug" id="updateSlug" value="false"/>
            @* Body *@
            <div class="col-md-12 form-group">
                <label for="Body" class="primaryField">Body</label>
                <textarea rows="10" class="form-control" placeholder="" 
                            asp-for="EditedArticle.Body" id="article-body"></textarea>
                <span asp-validation-for="EditedArticle.Body"
                      class="text-warning">
                </span>
            </div>
            @* Excerpt *@
            <div class="col-md-12 form-group">
                <label for="Excerpt" class="secondaryField">Excerpt (Optional)</label>
                <textarea class="form-control" placeholder="" 
                            asp-for="EditedArticle.Excerpt"></textarea>
            </div>
            <div class="col-md-12">
                @* Save draft *@
                <input type="submit" name="save" class="btn btn-primary btn-sm"
                       value="Save Draft" asp-page-handler="SaveDraft"/>
                @* Publish *@
                <input type="submit" name="publish" id="articlesave" 
                       class="btn btn-primary btn-sm"
                       value="Publish" asp-page-handler="Publish"/>
            </div>
            @* Cancel and go back *@
            <div class="col-md-12">
                <p class="cancel-link">
                    <a asp-page="/article" asp-route-id="@ViewData["id"]"
                       asp-route-slug="@ViewData["Slug"]">
                        <span class="glyphicon glyphicon-triangle-left"></span> 
                        Cancel Changes
                    </a>
                </p>
            </div>
        </form>
    </div>
</article>

@section Scripts
{
}
