@page
@using WebApp.Pages
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";

    /* Admin Control Panel */
    if ((await AuthorizationService.AuthorizeAsync(
        User, "MemberOnly")).Succeeded)
    {
        <div class="card border-primary h-100">
            <div class="card-body bg-secondary d-flex flex-column align-items-start">
                <h4 class="text-light">
                    Admin Controls
                </h4>
                <div class="container-fluid">
                    <div class="row-fluid">
                        @* Add a new article *@
                        @if ((await AuthorizationService.AuthorizeAsync(
                            User, "CreateArticle")).Succeeded)
                        {
                            <a asp-page="/New">
                                <button type="button"
                                        class="btn btn-outline-light text-light">
                                    New Article
                                </button>
                            </a>
                        }
                        @* Resume drafts *@
                        @if ((await AuthorizationService.AuthorizeAsync(
                            User, "EditArticle")).Succeeded)
                        {
                            <a asp-page="/Drafts">
                                <button type="button"
                                        class="btn btn-outline-light text-light">
                                    Saved Drafts
                                </button>
                            </a>
                        }
                        @* Recycle Bin *@
                        @if ((await AuthorizationService.AuthorizeAsync(
                            User, "DeleteArticle")).Succeeded)
                        {
                            <a asp-page="/RecycleBin">
                                <button type="button"
                                        class="btn btn-outline-light text-light">
                                    Recycle Bin
                                </button>
                            </a>
                        }
                        @* Manage Roles *@
                        @if ((await AuthorizationService.AuthorizeAsync(
                            User, "ManageRoles")).Succeeded)
                        {
                            <a asp-controller="ApplicationRoles" asp-action="Index">
                                <button type="button"
                                        class="btn btn-outline-light text-light">
                                    Manage Roles
                                </button>
                            </a>
                        }
                        @* Manage Users *@
                        @if ((await AuthorizationService.AuthorizeAsync(
                            User, "ManageUsers")).Succeeded)
                        {
                            <a asp-controller="ApplicationUsers" asp-action="Index">
                                <button type="button"
                                        class="btn btn-outline-light text-light">
                                    Manage Users
                                </button>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    }
    if (!Model.ArticleSummary.Any())
    {
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>
                No articles have been written yet, stay tuned!
            </p>
        </div>
    }
    else
    {
        /* Show all existing articles */
        foreach (IndexModel.ArticleSummaryModel article in Model.ArticleSummary)
        {
            <div class="card h-100 shadow m-2 mb-3">
                <div class="card-body bg-light d-flex flex-column align-items-start">
                    <article>
                        <div class="col-md-12">
                            @* Title *@
                            <h2>
                                <a asp-page="/article"
                                   asp-route-id="@article.Id.ToString("N")"
                                   asp-route-slug="@article.Slug">
                                    @article.Title</a>
                            </h2>
                            @* Date *@
                            <div class="h5 text-muted">
                                @article.PublishTime.ToString("dd MMM, yyyy")
                            </div>
                            @* Excerpt *@
                            <p class="lead">@article.Excerpt</p>
                            @* Comments *@
                            <div class="h5">
                                <a asp-page="/article"
                                   asp-route-id="@article.Id.ToString("N")"
                                   asp-route-slug="@article.Slug">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Comments: @article.CommentCount
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        }
    }
}

@section Scripts
{
    <script src="~/js/site.js"></script>
}
