@page
@model WebApp.Pages.NewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "New Blog Article";
}

<h2>Write a New Article</h2>

<form method="POST" enctype="multipart/form-data">
    <div class="col-md-12 well">
        @* Author *@
        <input type="hidden" class="form-control" placeholder=""
               name="NewArticle.Author"
               asp-for="NewArticle.Author" value="@User.Identity.Name" />
        @* Title *@
        <div class="form-group col-md-6">
            <label for="Title">Title</></label>
            <input type="text" class="form-control" placeholder=""
                   asp-for="NewArticle.Title"/>
            <span asp-validation-for="NewArticle.Title" class="text-warning"></span>
        </div>
        @* Body *@
        <div class="form-group col-md-12">
            <label for="Body" class="primaryField">Body</label>
            <textarea rows="10" class="form-control" placeholder="" 
            asp-for="NewArticle.Body" id="article-body"></textarea>
            <span asp-validation-for="NewArticle.Body" class="text-warning"></span>
        </div>
        @* Excerpt*@
        <div class="form-group col-md-12">
            <label for="Excerpt" class="secondaryField">Excerpt (Optional)</label>
            <textarea class="form-control" placeholder="" 
            asp-for="NewArticle.Excerpt"></textarea>
        </div>
        @* Upload file *@
        <div class="col-md-12">
            <div class="form-group">
                <label>Upload Files</label>
                <input type="file" name="files" multiple id="file-input"
                       onchange="insertFiles()"/>
            </div>
        </div>
        @* Save or Publish*@
        <div class="col-md-12">
            <input type="submit" name="save" class="btn btn-primary btn-sm"
                   value="Save Draft" asp-page-handler="SaveDraft"/>
            <input type="submit" name="publish" class="btn btn-primary btn-sm"
                   value="Publish" asp-page-handler="Publish"/>
        </div>
    </div>
</form>

@section Scripts 
{
}
