@page
@using WebApp.Pages
@model WebApp.Pages.RecycleBinModel
@{
    ViewData["Title"] = "Recycle Bin";

    if (!Model.ArticleSummaries.Any())
    {
        <div class="jumbotron">
            <p>There are no articles in your recycle bin.</p>
        </div>
    }
    else
    {
        foreach (RecycleBinModel.ArticleSummaryModel article in Model.ArticleSummaries)
        {
            <article>
                <div class="col-md-12">
                    <h2>
                        <a asp-page="/article" 
                           asp-route-id="@article.Id.ToString("N")" 
                           asp-route-slug="@article.Slug">@article.Title</a>
                    </h2>
                    <h5 class="date text-muted">
                        @article.PublishTime.ToString("dd MMM, yyyy")
                    </h5>
                    <p class="lead">@article.Excerpt</p>
                    <h3>
                        <a asp-page="/article" 
                           asp-route-id="@article.Id.ToString("N")" 
                           asp-route-slug="@article.Slug">
                            <span class="glyphicon glyphicon-comment"></span> 
                            @article.CommentCount</a>
                    </h3>
                </div>
            </article>
        }
    }
}
